<div class="main-content">
  <h1 class="mb-4">
    <i class="fa-solid fa-tasks me-2"></i> Завдання
  </h1>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="h5 mb-0">Активні</h2>
    <button class="btn btn-primary" (click)="assign()">
      <i class="fa-solid fa-plus me-2"></i> Отримати завдання
    </button>
  </div>

  <div class="table-responsive mb-4">
    <table class="table table-bordered align-middle text-center">
      <thead class="table-light">
        <tr>
          <th>Завдання</th>
          <th>Тип завдання</th>
          <th>Спроб залишилось</th>
          <th>Статус</th>
          <th>Дія</th>
        </tr>
      </thead>
      <tbody>
        @if (activeAssignments.length === 0) {
        <td colspan="5" class="text-center">
          <strong>Активних завдань не знайдено</strong>
        </td>
        }
        @for (activeAssignment of activeAssignments; track activeAssignment.id) {
        <tr>
          <td>{{activeAssignment.hint}}</td>
          <td>{{getFunctionResultTypeString(activeAssignment)}}</td>
          <td>{{activeAssignment.attemptsRemaining}}</td>
          <td><span class="badge bg-success">{{getAssignmentStatusString(activeAssignment)}}</span></td>
          <td>
            <button class="btn btn-sm btn-outline-info me-2" (click)="goToAnswersPage(activeAssignment)">
              <i class="fa-solid fa-eye"></i>
            </button>
            <button class="btn btn-sm btn-outline-info" (click)="startContinueAssignment(activeAssignment)">
              <i class="fa-solid" [ngClass]="{
                'fa-play': isAssignedStatus(activeAssignment),
                'fa-forward': isInProgressStatus(activeAssignment)
                }"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <h2 class="h5 mb-3">Завершені</h2>
  <div class="table-responsive">
    <table class="table table-bordered align-middle text-center">
      <thead class="table-light">
        <tr>
          <th>Завдання</th>
          <th>Тип завдання</th>
          <th>Оцінка</th>
          <th>Коментар</th>
          <th>Дія</th>
        </tr>
      </thead>
      <tbody>
        @if (finishedAssignments.length === 0) {
        <td colspan="5" class="text-center">
          <strong>Завершених завдань не знайдено</strong>
        </td> }
        @for (finishedAssignment of finishedAssignments; track finishedAssignment.id) {
        <tr>
          <td>{{finishedAssignment.hint}}</td>
          <td>{{getFunctionResultTypeString(finishedAssignment)}}</td>
          <td>{{finishedAssignment.mark == -1 ? 'Немає' : finishedAssignment.mark}}</td>
          <td>{{finishedAssignment.comment.length == 0 ? 'Немає' : finishedAssignment.comment}}</td>
          <td>
            <button class="btn btn-sm btn-outline-info" (click)="goToAnswersPage(finishedAssignment)">
              <i class="fa-solid fa-eye"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

</div>
