<div class="main-content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-4">
            <i class="fa-solid fa-book me-2"></i> Предмети
        </h1>
        @if(isAdmin()){
        <button class="btn btn-primary" (click)="openAddModal()">
            <i class="fa-solid fa-plus me-2"></i> Створити предмет
        </button>
        }
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Пошук предмету..." [(ngModel)]="searchQuery"
            (ngModelChange)="onSearchChange($event)" />
    </div>

    <div class="table-responsive mb-4">
        <table class="table table-bordered align-middle text-center">
            <thead class="table-light">
                <tr>
                    <th>Назва</th>
                    <th>Університет</th>
                    <th>Дія</th>
                </tr>
            </thead>
            <tbody>
                @if (subjects.length === 0) {
                <td colspan="3" class="text-center">
                    <strong>Предметів не знайдено</strong>
                </td>
                } @else if (filteredSubjects.length === 0) {
                <td colspan="3" class="text-center">
                    <strong>Предметів за пошуковим запитом не знайдено</strong>
                </td>
                }
                @for (subject of filteredSubjects; track subject.id) {
                <tr>
                    <td>{{subject.name}}</td>
                    <td>{{subject.university.name}}</td>
                    <td>
                        <div class="d-flex justify-content-center gap-1">
                            <button class="btn btn-sm btn-warning me-2" (click)="openEditModal(subject.id)">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn btn-sm btn-danger" (click)="deleteSubject(subject.id)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>