<!-- Page Content -->
<form (ngSubmit)="forgotPassword()" class="main-content">
  <div class="text-center mb-4">
    <h2>Забули пароль?</h2>
  </div>

  <!-- Email input -->
  <div class="mb-3 row justify-content-center">
    <label class="col-sm-4 col-form-label" for="username">Електронна адреса: </label>
    <div class="col-sm-8">
      <input [(ngModel)]="email" name="username" type="email" id="username" class="form-control" />
    </div>
  </div>

  <div *ngIf="error.length > 0" class="row mb-4" style="color: red">
    <div class="col d-flex justify-content-center">
      <p>{{error}}</p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-block text-center">Підтвердити</button>
    </div>
  </div>

  <div class="text-center">
    <p>Згадали пароль? <a routerLink="/auth/signin">Увійти</a></p>
  </div>

</form>
