<div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<form [formGroup]="form">
    <div class="modal-body" style="max-height: 75vh; overflow-y: auto;">
        <label for="modalInputText" class="form-label">Введіть текст:</label>
        <input type="text" id="modalInputText" class="form-control" [value]="inputValue?.text" formControlName="text" />
        @if (f['text'].errors?.['required'] && (f['text'].touched || f['text'].dirty)) {
        <div class="text-danger mt-1">{{ functionRequiredMessage }}</div>
        }
        <div class="mt-2">
            <label for="modalInputVariablesCount" class="form-label">Введіть кількість змінних:</label>
            <input type="text" id="modalInputVariablesCount" class="form-control" [value]="inputValue?.variablesCount"
                formControlName="variablesCount" />
            @if (f['variablesCount'].errors?.['required'] && (f['variablesCount'].touched || f['variablesCount'].dirty))
            {
            <div class="text-danger mt-1">{{ variablesCountRequiredMessage }}</div>
            }
            @if (f['variablesCount'].errors?.['isInteger'] && (f['variablesCount'].touched ||
            f['variablesCount'].dirty))
            {
            <div class="text-danger mt-1">{{ integerRequiredMessage }}</div>
            }
        </div>
        <div formGroupName="minValues">
            @for(minValue of getMinValues(); track minValue){
            <div class="mt-2">
                <label [for]="'modalInputMinValue'+$index" class="form-label">Введіть мінімальне значення:</label>
                <div class="d-flex align-items-center">
                    <input type="text" [id]="'modalInputMinValue'+$index" class="form-control"
                        [formControlName]="getMinFormControlName($index)" />
                    <button type="button" class="btn btn-danger ms-2" (click)="removeMinValue($index)">
                        -
                    </button>
                </div>

                @if (f['minValues'].get(getMinFormControlName($index))?.errors?.['isDecimal'] &&
                (f['minValues'].get(getMinFormControlName($index))?.touched ||
                f['minValues'].get(getMinFormControlName($index))?.dirty))
                {
                <div class="text-danger mt-1">{{ decimalRequiredMessage }}</div>
                }
                @if(isLastMinValue($index)){
                <div class="d-flex justify-content-center mt-2">
                    <button type="button" class="btn btn-primary me-3" style="width: 40%;" (click)="addMinValue()">
                        + Додати поле
                    </button>
                </div>
                }
            </div>
            }
        </div>
        <div formGroupName="maxValues">
            @for(maxValue of getMaxValues(); track maxValue){
            <div class="mt-2">
                <label [for]="'modalInputMaxValue'+$index" class="form-label">Введіть максимальне значення:</label>
                <div class="d-flex align-items-center">
                    <input type="text" [id]="'modalInputMaxValue'+$index" class="form-control"
                        [formControlName]="getMaxFormControlName($index)" />
                    <button type="button" class="btn btn-danger ms-2" (click)="removeMaxValue($index)">
                        -
                    </button>
                </div>
                @if (f['maxValues'].get(getMaxFormControlName($index))?.errors?.['isDecimal'] &&
                (f['maxValues'].get(getMaxFormControlName($index))?.touched ||
                f['maxValues'].get(getMaxFormControlName($index))?.dirty))
                {
                <div class="text-danger mt-1">{{ decimalRequiredMessage }}</div>
                }
                @if(isLastMaxValue($index)){
                <div class="d-flex justify-content-center mt-2">
                    <button type="button" class="btn btn-primary me-3" style="width: 40%;" (click)="addMaxValue()">
                        + Додати поле
                    </button>
                </div>
                }
            </div>
            }
        </div>
        <div class="mt-2">
            <label for="university" class="form-label">Університет</label>
            <select id="university" class="form-select" formControlName="university">
                <option [value]="-1">-- Немає --</option>
                @for(university of universities; track university.id) {
                <option [value]="university.id">{{university.name}}
                </option>
                }
            </select>
        </div>
        <div class="mt-2">
            <label for="subject" class="form-label">Предмет</label>
            <select id="subject" class="form-select" formControlName="subject">
                @for(subject of displayedSubjects; track subject.id) {
                <option [value]="subject.id">{{subject.name}}
                </option>
                }
            </select>
            @if (f['subject'].errors?.['required'] && (f['subject'].touched || f['subject'].dirty)) {
            <div class="text-danger mt-1">{{subjectRequiredMessage}}</div>
            }
        </div>
        @if(errorMessage){
        <div class="alert alert-danger mt-2">
            {{ errorMessage }}
        </div>
        }
    </div>
</form>


<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
        Скасувати
    </button>
    <button type="button" class="btn btn-primary" (click)="save()">
        Зберегти
    </button>
</div>