<div class="container d-flex justify-content-center">
  <div class="card p-4 shadow-sm" style="max-width: 800px; width: 100%;">
    <h2 class="text-center mb-4">
      <i class="fa-solid fa-right-to-bracket me-2"></i> Вхід
    </h2>

    <form [formGroup]="form">
      <div class="mb-3">
        <label for="email" class="form-label">Електронна пошта</label>
        <input type="email" id="email" class="form-control" formControlName="email" />
        @if (f['email'].errors?.['required'] && (f['email'].touched || f['email'].dirty)) {
        <div class="text-danger mt-1">{{ emailRequired }}</div>
        }
        @if (f['email'].errors?.['email'] && (f['email'].touched || f['email'].dirty)) {
        <div class="text-danger mt-1">{{ emailIncorrect }}</div>
        }
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" id="password" class="form-control" formControlName="password" />
        @if (f['password'].errors?.['required'] && (f['password'].touched || f['password'].dirty)) {
        <div class="text-danger mt-1">{{ passwordRequired }}</div>
        }
        @if (f['password'].errors?.['minlength'] && (f['password'].touched || f['password'].dirty)) {
        <div class="text-danger mt-1">{{ passwordTooShort }}</div>
        }
      </div>

      <div class="d-flex justify-content-between mt-1 mb-3">
        <a routerLink="/auth/forgotpassword" class="medium">Забули пароль?</a>
        <a routerLink="/auth/signup" class="medium">Реєстрація</a>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <button type="button" class="btn btn-secondary" (click)="goBack()">
          <i class="fa-solid fa-arrow-left me-1"></i> Назад
        </button>

        <button type="button" class="btn btn-primary" (click)="signIn()">
          <i class="fa-solid fa-right-to-bracket me-1"></i> Увійти
        </button>
      </div>
    </form>
  </div>
</div>
