<div class="main-content">
  <h1 class="mb-4">
    <i class="fa-solid fa-tasks me-2"></i> Завдання
  </h1>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="h5 mb-0">Активні</h2>
    @if(isStudent()){
    <button class="btn btn-primary" (click)="assign()">
      <i class="fa-solid fa-plus me-2"></i> Отримати завдання
    </button>
    }
  </div>

  <div class="table-responsive mb-4">
    <table class="table table-bordered align-middle text-center">
      <thead class="table-light">
        <tr>
          @if(isTeacher() || isAdmin()){
          <th>Студент</th>
          <th>Університет</th>
          }
          <th>Завдання</th>
          <th>Тип завдання</th>
          <th>Статус відповідей</th>
          <th>Статус завдання</th>
          <th>Дія</th>
        </tr>
      </thead>
      <tbody>
        @if (activeAssignments.length === 0) {
        <td [attr.colspan]="isAdmin() || isTeacher() ? 7 : 5" class="text-center">
          <strong>Активних завдань не знайдено</strong>
        </td>
        }
        @for (activeAssignment of activeAssignments; track activeAssignment.id) {
        <tr>
          @if(isTeacher() || isAdmin()){
          <td>{{activeAssignment.user.firstName + ' ' + activeAssignment.user.lastName}}</td>
          <td>{{activeAssignment.user.university.name}}</td>
          }
          <td>{{activeAssignment.hint}}</td>
          <td>{{getFunctionResultTypeString(activeAssignment)}}</td>
          <td>
            @if(isRestrictionNAttempts(activeAssignment)){
            Залишилось спроб:
            <span class="fw-bold">
              {{activeAssignment.attemptsRemaining}}
            </span>
            }
            @if(isRestrictionDeadline(activeAssignment)){
            Дедлайн надсилання відповідей:
            <span class="fw-bold">
              {{activeAssignment.deadline}}
            </span>
            }
            @if(isRestrictionAttemptInNMinutes(activeAssignment)){
            Наступна відповідь може бути надіслана:
            <span class="fw-bold">
              @if(isNextAttemptTimeAfterNow(activeAssignment)){
              {{activeAssignment.nextAttemptTime}}
              }
              @else {
              зараз
              }
            </span>
            }
          </td>
          <td><span class="badge bg-success">{{getAssignmentStatusString(activeAssignment)}}</span></td>
          <td>
            <div class="d-flex justify-content-around">
              <button class="btn btn-sm btn-outline-info" (click)="goToAnswersPage(activeAssignment)">
                <i class="fa-solid fa-eye"></i>
              </button>
              @if(isStudent()){
              <button class="btn btn-sm btn-outline-info" (click)="startContinueAssignment(activeAssignment)">
                <i class="fa-solid" [ngClass]="{
                'fa-play': isAssignedStatus(activeAssignment),
                'fa-forward': isInProgressStatus(activeAssignment)
                }"></i>
              </button>
              }
              @if(isAdmin() || isTeacher()){
              <button class="btn btn-sm btn-primary" (click)="setRestriction(activeAssignment.id)">
                <i class="fa-solid fa-sliders" title="Поточні обмеження"></i>
              </button>
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <h2 class="h5 mb-3">Завершені</h2>
  <div class="table-responsive">
    <table class="table table-bordered align-middle text-center">
      <thead class="table-light">
        <tr>
          @if(isTeacher() || isAdmin()){
          <th>Студент</th>
          <th>Університет</th>
          }
          <th>Завдання</th>
          <th>Тип завдання</th>
          <th>Оцінка</th>
          <th>Коментар</th>
          <th>Дія</th>
        </tr>
      </thead>
      <tbody>
        @if (finishedAssignments.length === 0) {
        <td [attr.colspan]="isAdmin() || isTeacher() ? 7 : 5" class="text-center">
          <strong>Завершених завдань не знайдено</strong>
        </td> }
        @for (finishedAssignment of finishedAssignments; track finishedAssignment.id) {
        <tr>
          @if(isTeacher() || isAdmin()){
          <td>{{finishedAssignment.user.firstName + ' ' + finishedAssignment.user.lastName}}</td>
          <td>{{finishedAssignment.user.university.name}}</td>
          }
          <td>{{finishedAssignment.hint}}</td>
          <td>{{getFunctionResultTypeString(finishedAssignment)}}</td>
          <td>{{finishedAssignment.mark == -1 ? 'Немає' : finishedAssignment.mark}}</td>
          <td>{{finishedAssignment.comment.length == 0 ? 'Немає' : finishedAssignment.comment}}</td>
          <td>
            <div class="d-flex justify-content-around">
              <button class="btn btn-sm btn-outline-info" (click)="goToAnswersPage(finishedAssignment)">
                <i class="fa-solid fa-eye"></i>
              </button>
              @if(isTeacher()){
              <button class="btn btn-sm btn-primary" (click)="markAssignment(finishedAssignment.id)">
                <i class="fa-solid fa-star" title="Поставити оцінку"></i>
              </button>
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

</div>