<div class="wrapper">
  <aside id="sidebar">
    <div class="d-flex">
      <button class="toggle-btn" type="button">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="sidebar-logo">
        <a routerLink="/">Система</a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item" *ngIf="!isAuthenticated">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
          aria-expanded="false" aria-controls="auth">
          <i class="fa-solid fa-right-to-bracket"></i>
          <span>Аутентифікація</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a routerLink="/auth/signin" class="sidebar-link">Вхід</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/auth/signup" class="sidebar-link">Реєстрація</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="sidebar-footer" *ngIf="isAuthenticated">
      <a class="sidebar-link" (click)="logout()" style="cursor: pointer">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Вихід</span>
      </a>
    </div>
  </aside>
  <div class="main main-not-expand p-3">
    <router-outlet></router-outlet>
  </div>
</div>
